<h1>Demo#index</h1>

id from param is <%= params[:id]%> <br/>
<%=(1+3)%>
	
<% target ="World from hello "%>
<p><%= "hello #{target}"%> </p>


<% @array.each do |n|%>
  	<!--<a href="/demo/index"> my <%=n%> </a><br/>-->
	my <%=n%>  <%=link_to('link','/demo/index')%> </br>
 <% end%>

<p> id is <%=@id%> <br/> Next page is <%= @page + 1%> <br/> 
	
	<hr/>
	<%=params.inspect%>